@import "tailwindcss";
@import "tailwindcss-primeui";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;

  --p-card-title-font-size: 1rem;
  --p-card-body-padding: 0.75rem;

  --p-panel-header-padding: 0.5rem 1rem;
  --p-panel-content-padding: 0 0.5rem 0.5rem 0.5rem;
  --p-panel-header-border-width: 0 0 1px 0;
  --p-panel-header-background: var(--p-gray-100);

  --p-dialog-header-padding: 0.5rem 1.25rem;

  --p-datatable-header-cell-background: var(--p-gray-100);
}

@media (prefers-color-scheme: dark) {
  #app {
    --p-panel-header-background: var(--p-gray-800);
    --p-datatable-header-cell-background: var(--p-gray-800);
  }
}

/* Todas las etiquetas en negrita*/
label {
  font-weight:600;
}
