@import "tailwindcss";
@import "tailwindcss-primeui";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;

  --p-card-title-font-size: 1rem;
  --p-card-body-padding: 1rem;
  --p-panel-header-padding: 0.5rem 1rem;
  --p-panel-content-padding: 0 0.5rem 0.5rem 0.5rem;
  --p-panel-header-border-width: 0 0 1px 0;
}

/* Todas las etiquetas en negrita*/
label {
  font-weight:600;
}

.p-menubar-end {
  margin-right: auto;
}
